<!-- views/dashboard.ejs -->
<h1>Dashboard</h1>
<h3>Welcome <%= user.firstName %></h3>
<img src="<%= user.profile_image %>" class="circle responsive-img img-small" />
<audio controls>
  <source src="<%= user.audio %>" type="audio/mp3" />
  Your browser does not support the audio element.
</audio>
<p>Here are your diaries</p>

<% if (diaries.length > 0) { %>
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% diaries.forEach(story => { %>
    <tr>
      <td><a href="/diaries/<%= story._id %>"><%= story.title %></a></td>
      <td><span class="date"><%= story. createdAt %></span></td>
      <td><span class="dash-status"><%= story.status %></span></td>
      <td>
        <a href="/diaries/edit/<%= story._id %>" class="btn btn-float">
          edit
        </a>

        <form
          action="/diaries/<%= story._id %>"
          method="POST"
          class="delete-form"
        >
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="btn red">delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<p>You have not created any diaries</p>
<% } %>

<h4>
  <a href="/diaries/add">Add Entry</a>
</h4>
<footer>
  <h3>
    <a href="/auth/logout">Logout</a>
  </h3>
</footer>
