<h1>Public Diaries</h1>
<ul>
  <li>
    <form id="search-site" action="/diaries/search/:query" method="get">
      <div>
        <div>
          <input
            id="search"
            type="search"
            name="query"
            placeholder="Search by title"
          />
          <label for="search"></label>
        </div>
        <button type="submit">search</button>
      </div>
    </form>
  </li>
</ul>
<div>
  <% diaries.forEach(function(story) { %>
  <div>
    <div>
      <div>
        <h5><%= story.title %></h5>
        <p><%= story.body %></p>
        <br />
        <div>
          <img src="<%= story.user.image %>" alt="" />
          <a href="/diaries/user/<%= story.user._id %>"
            ><%= story.user.firstName %></a
          >
        </div>
      </div>
      <div>
        <a href="/diaries/<%= story._id %>">Read More</a>
      </div>
    </div>
  </div>
  <% }); %> <% if (diaries.length === 0) { %>
  <p>No diaries to display</p>
  <% } %>
</div>
