<div>
  <div>
    <h3><%= diary.title %></h3>
    <div>
      <div>
        <span><%= diary. createdAt %></span>
        <span><%= diary. createdAt %></span>
      </div>
    </div>
    <div><%= diary.body %></div>
  </div>
  <div>
    <div>
      <div>
        <span><%= diary.user.firstName %></span>
        <img src="<%= diary.user.image %>" />
      </div>
      <div>
        <a href="/diaries/user/<%= diary.user._id %>"
          >More From <%= diary.user.firstName %></a
        >
      </div>
    </div>
  </div>
</div>
